.App {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.App-header {
  font-size: 80px;
}

.App-content {
  font-size: 30px;
}

.App-ul {
  text-align: left;
}

.App-link {
  color: #ff4f00;
}

label {
  color: #ff4f00!important;
}
